#site-content {
    width:964px;
    margin:0px auto;
}
nav {
    position:absolute;
    top:117px;
    left:50px;
}
header nav a.selectednav:visited,
header nav a.selectednav:link {
    color:#FFF;
}
.wrapper nav#object-browser-nav {
    position:relative;
    left:0px;
    top:0px;
}
.wrapper article ul {
    padding:28px 40px 0px 40px;
}
.wrapper article ul li {
    font-size:0.9em;
    padding-bottom:5px;
    line-height:130%;
}
/*
.wrapper article ul.closeupabove {
    padding:10px 40px 0px 40px;
}
*/
.wrapper article ul.closeupabove li {
    padding-bottom:0px;
}
.visualClear {
    clear:both;
    font-size:1px;
    line-height:1px;
    height:1px;
}
/* Ben's adaptations of Matt's code to apply to the title and standfirst as they are actually rendered by the template */
article h2.heading,
article h1 {
    font-family:Arial, sans-serif;
    font-style:normal;
	padding:28px 40px 0px 40px;
	font-size:1.7em;
	color:#313131;
    text-align:center;
}
article p.lead,
article h2 {
	font-family:georgia, serif;
	font-style:italic;
	padding:28px 40px 0px 40px;
	font-size:1.3em;
	line-height:150%;
}
article.petrie-homepage h2.heading {
    font-size:2em;
}
article.about p.lead {
    background: url("../img/about-pointer.gif") no-repeat scroll center top #FFFFFF;
    margin-top: 18px;
}
.wrapper article.about ul {
    list-style-type:disc;
    padding:5px 40px 0px 40px;
}
article.left a:link,
article.left a:visited {
    color:#6D9998;
}
.wrapper article.about ul li a {
    font-weight:bold;
}
/* Petrie About section */
/* ben using Matt's ID but applying my styles */
/* this is because this nav is made even by calcs in the python code
which depend on the number of items in the section */
#even-split-nav {
    position:relative;
    top:0px;
    left:0px;
    margin:10px 0px 0px 0px;
    text-transform:uppercase;
}
#even-split-nav .navitem {
    float:left;
    margin-right:10px;
    text-align:center;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#even-split-nav .finalnavitem {
    margin-right:0px;
}
#even-split-nav .selected {
    background:#8FD0CA;
}
#even-split-nav .selected a,
#even-split-nav .selected a:hover {
    color:#FFF;
}
/* End Petrie About section */
/* this is the replacement for the 3D object embed on the previous page where it is not required. */
.previewerport {
    float:left;
    padding:50px;
    width:544px !important;
    border:1px solid black;
}

/* iframe */
#threedviewerport {
    height: 630px;
    width: 646px;
    overflow:hidden;
    border:0px solid #000;
}
#threedviewerport-home {
    height: 450px;
    width: 496px;
    overflow:hidden;
    border:0px solid #000;
}

/* museum index */
/* these are direct replacements for the CSS3 table style versions in Matt's code */
article.browse div.ThreedItem {
    display:block;
    float:left;
	width:240px;
	height:348px;
	border:1px solid #fff;
	border-width:0px 1px 3px 0px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D9D9D1),
		color-stop(1, #c1c2bc)
	);
	background-image: -o-linear-gradient(bottom, #D9D9D1 0%, #c1c2bc 100%);
	background-image: -moz-linear-gradient(bottom, #D9D9D1 0%, #c1c2bc 100%);
	background-image: -webkit-linear-gradient(bottom, #D9D9D1 0%, #c1c2bc 100%);
	background-image: -ms-linear-gradient(bottom, #D9D9D1 0%, #c1c2bc 100%);
	background-image: linear-gradient(to bottom, #D9D9D1 0%, #c1c2bc 100%);
}
article.browse div.EndItem {
	border-right:none;
}

/* make strong work in paragraphs */
p strong {
    font-weight:bold;
}
article.left em {
    font-style:italic;
}


/* Matt's stuff starts here - Ben's changes all commented, careful when updating */
/* all image paths changed to use theme images, not static */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Ben = new style for 3d model bg */
canvas {
/*    background:url("../img/backgroundImage.jpg") top center no-repeat;
    background-size:100%;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:arial, sans-serif;
	font-size:90%;
	color:#454545;
	background-color:#eaeae2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Specific styles **/

/* header */
header {
	height:139px; 
	width:100%; 
	background:url('../img/ucl-header2.gif') top center; 
	color:#fff;
	margin-bottom:10px;
}
header h1 {
	position:relative; 
	left:26px; 
	top:26px;
	font-weight:bold;
}

/* nav */
header nav {
	position:relative; 
	left:26px; 
	top:103px;
	font-weight:700; 
	font-size:0.9em; 
}
header nav a {
	margin-right:66px;	
	color:#396663;
}
header nav a:hover, header nav a.current {
	color:#153935;	
}

/* article */
article {
	display:inline-block;
	float:left;
	/* ben changed min-height, to fit with homepage widget column depth*/
/*	min-height:700px;*/
    height:618px;
/* 	padding-bottom:20px; */
}
article.about {
    /* Ben changed to suit new inset shadow gallery */
/*	min-height:538px;
    min-height:533px;*/
    height:520px;
}
article.left {
	width:468px;
	background-color:#fff;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom:12px solid #FFF;
}
article.left.single-object {
	width:318px;
}
/* Joel/Ben changed for bg image and height */
article.petrie-homepage {
	background:#FFF url('../img/grant_png_black_sm2.png') no-repeat bottom left;
	height:610px;
}
article.text {
	text-align:center;
}
article h1 {
	padding:28px 40px 0px 40px;
	font-size:1.7em;
	color:#313131;
}
article h2 {
	font-family:georgia;
	font-style:italic;
	padding:28px 80px 0px 80px;
	font-size:1.3em;
	line-height:130%; /* Ben, was 150% */
}
article p {
/*	padding:28px 40px 0px 40px;*/
/* Ben made smaller */
	padding:12px 40px 0px 40px;
	line-height:130%;
}
article.browse img {
	display:block;
	margin:20px auto 35px auto;
}
article.right {
	/*background-color:#cdcdc5;*/
}
article.browse {
	display:table;
	width:100%;
}
article.browse div { /* has to be Ben commented cos the outer div is now removed */
/*	display:table-row; 
	width:100%;
	border-bottom:1px solid #fff;*/
}
article.browse div div { /* ditto comment this just in case - also table styling not to be used */
/*	display:table-cell;
	width:25%;
	height:386px;
	border-right:1px solid #fff;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D9D9D1),
		color-stop(1, #c1c2bc)
	);
	background-image: -o-linear-gradient(bottom, #D9D9D1 0%, #c1c2bc 100%);
	background-image: -moz-linear-gradient(bottom, #D9D9D1 0%, #c1c2bc 100%);
	background-image: -webkit-linear-gradient(bottom, #D9D9D1 0%, #c1c2bc 100%);
	background-image: -ms-linear-gradient(bottom, #D9D9D1 0%, #c1c2bc 100%);
	background-image: linear-gradient(to bottom, #D9D9D1 0%, #c1c2bc 100%);*/
}
article.browse div div:last-child {
	border-right:none;
}
article.browse a {
	background:url('../img/object-pointer.gif') top center no-repeat;
	padding-top:10px;
	font-size:0.9em;
	color:#000;
	font-weight:900;
}
article.browse a:hover {
	text-decoration:underline;
	background-image:url('../img/object-pointer-hover.gif');
	color:#33342e;
}
article.browse p {
	text-align:center;
	padding:0px;
	/*margin-top:30px;*/
	font-size:0.9em;
}

/* footer */
footer {
	width:100%;
	content:'';
    display:block;
    clear: both;
	border-top:20px solid #eaeae2;
	border-bottom:20px solid #eaeae2;
	font-size:0.9em;
}
footer p {
	display:inline;
	position:relative; 
}
footer #copyright {
	left:26px;
}
footer #links {
	left:50px;
}
footer #social {
	left: 430px;
	/* Ben reduced left cos other footer items are wider */
	left:70px;
	/* Ben changed again now other links are removed */
	left:151px;
	top:5px;
}
footer a {
	padding:0px 10px 0px 10px;
}
footer #social a {
	padding:0px 5px 0px 5px;
}
footer #social a:last-child,
footer #social a:first-child {
    display:none;
}
footer #links a {
	/*border-right:1px solid #454545;*/
	background:url('../img/link-divider.jpg') right no-repeat; 
}
footer  #links a:last-child {
	background:none;
}
footer a:hover {
	text-decoration:underline;
}

/* Object Browser top nav */
#object-browser-nav, #even-split-nav {
	width:100%;
	margin-top:10px;
}
#object-browser-nav a, #even-split-nav a {
	font-size:0.9em;
	font-weight:700; 
	color:#fff;	
	display:block;
	width:100%;
	height:100%;
	padding-top:13px;
}
#object-browser-nav div, #even-split-nav div {
	background-color:#8fd0ca;
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	width:154px;
	height:39px;
	float:left;
	margin-right:10px;
	text-align:center;
	margin-bottom:10px;
}
#even-split-nav div {
	width:314px;
	background-color:#757575;
}
#even-split-nav div a {
	color:#a5a5a5;
}
#even-split-nav div.current a, #even-split-nav div a:hover {
	color:#fff;
}
#even-split-nav div.current {
	background-color:#8fd0ca;
}
/*
#even-split-nav div:nth-child(2) {
	width:316px;
}
Ben commented because this only works for three items in the about navigation
Ben's divides the nav up so it works for any number, as long as there's enough
room for the text label - this is also CSS3 and doesn't work in IE8
, #even-split-nav div:nth-child(3)
#object-browser-nav div:nth-child(3) {
	margin-right:0px;
}
*/
#object-browser-nav div.nav-left {
	background:#8fd0ca url('../img/left.png') 23px center no-repeat;
}
#object-browser-nav div.nav-left:hover {
	background:#8fd0ca url('../img/left-hover.png') 23px center no-repeat;
}
#object-browser-nav div.nav-right {
	background:#8fd0ca url('../img/right.png') 110px center no-repeat;
	margin-right:0px;
}
#object-browser-nav div.nav-right:hover {
	background:#8fd0ca url('../img/right-hover.png') 110px center no-repeat;
}
#object-browser-nav div.nav-menu {
	width:636px;
	background:#8fd0ca url('../img/all-3d.gif') 230px center no-repeat;
}
#object-browser-nav div.nav-menu:hover {
	background:#8fd0ca url('../img/all-3d-hover.gif') 230px center no-repeat;
}
#object-browser-nav a {
	color:#000;
}
#object-browser-nav a:hover {
	color:#eaeae2;
}

/* WIDGET */
#widgetBackground {
    position:absolute;
	height:630px;
	width:646px;
    background:#B5B5B5 url("../img/backgroundImage.jpg") top center repeat-y;
    background-size:100%;
}
#widgetBottom {
	height:130px;
	width:496px;
	background:#d9d9d1 url('../img/big-object-pointer.gif') center center no-repeat;
	position:relative;
	left:0px; 
	top:460px;
	text-align:center;
	padding-top:40px;
	font-size:1.1em; /* Ben */
}
/* Ben adapted these links styles after Petrie requests */
#widgetBottom a,
#widgetBottom a:hover {
	padding-top:10px;
	font-size:0.9em;
    color:#61B6B9;
	font-weight:900;
	text-decoration:none;
}
#widgetBottom a:hover {
	color:#FFF;
}
#widgetBottom p {
	padding:0px;
	margin-top:68px;
	font-size:0.9em;
}
/*
#widgetBottom p a, 
#widgetBottom p a:hover {
	color:#61b6b9;
	text-decoration:none;
}
#widgetBottom p a:hover {
	color:#68c3b1;
}
*/
.single-object#widgetBackground {
	width:646px;
	height:100%;
	background:none;
}
#widgetInstructions {
	position:relative;
	left:50px;
	top:-450px;
	width:380px;
	height:450px;
	/*background: rgba(0, 0, 0, 0.5); */
	display:none;
}
#no3d {
	position:relative;
	left:10px;
	top:-250px;
/* 	width:380px; */
/* 	height:450px; */
	background: rgba(0, 0, 0, 0.5);
	display:none;
	color:#FFF;
	padding-bottom:10px;
}
div#no3d div {
	right:50px;
}
.widgetBtn {
    position:absolute;
    left:460px;
    top:5px;
    width:29px;
    height:29px;
    border-radius:2px;
    clear:both;
    float:right;
    margin-right:10px;
 
}
/* to get the +/- buttons back, remove the display:none and uncomment the top:78px in widgetBtnQuestion */
#widgetBtnPlus {
    background: #61625d url('../img/widget-plus.gif') center center no-repeat;
    margin-top:10px;
/*    display:none;*/
}
#widgetBtnMinus {
    background: #61625d url('../img/widget-minus.gif') center center no-repeat;
    margin-top:5px;
    top:44px;
/*    display:none;*/
}
#widgetBtnExpand {
    background: #61625d url('../img/widget-expand.gif') center center no-repeat;
    margin-top:10px;
    top:117px;
    display:none;
}
#widgetBtnQuestion {
    background: #61625d url('../img/widget-question.png') center center no-repeat;
    margin-top:10px;
    top:78px;
}
.widgetBtn a {
	display:block;
	height:100%;
	width:100%;
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}
#widgetBtnPlus a:hover {
	background: #000 url('../img/widget-plus.gif') center center no-repeat;
}
#widgetBtnMinus a:hover {
	background: #000 url('../img/widget-minus.gif') center center no-repeat;
}
#widgetBtnExpand a:hover {
	background: #000 url('../img/widget-expand.gif') center center no-repeat;
}
#widgetBtnQuestion a:hover {
	background: #000 url('../img/widget-question.png') center center no-repeat;
}
.closer {
	background: url('../img/close-cross.png') center center no-repeat;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 10px;
	right: 11px;
}
.closer a {
	display:block;
	width:100%;
	height:100%;
}
/* 3d widget */
.webRender {
	height:630px;
	width:646px;
	border-style: none;
}
.webRender.smaller {
	 width:100%;
	 height:450px;
}
#widgetBottom.smaller  {
	top:520px;
/* Ben - Needed to make the homepage widget sit under the iframe */
/* otherwise it floats way down the page */
    top:0px;
    float:left;
}
.smaller#widgetBackground {
	height:670px;
}
/* slider on about page */
section.slider {
	background-color:#c5c6c0;
	border:10px solid #c5c6c0;
}
div.flexslider {
	margin:10px;
}
/* other */
#container {
	margin-left: auto;
	margin-right: auto;
	width:964px;
}
a {
	color:#454545;
	text-decoration:none; 
}
article.smaller {
	min-height:700px;
	background-color:#d9d9d1;
}
#threesixty.smaller {
	height:600px;
	width:496px;
}
p.intro {
	font-style:italic;
	background:#fff url('../img/about-pointer.gif') top center no-repeat;
	margin-top:18px;
}
.object-details {
	font-size:0.9em;
}
p.object-details {
/* Ben - if page content is long, the text butts hard against the end of the white block */
    padding:0px 40px 10px 40px;
}
p.object-details a {
    /* Ben make the catalogue link bold */
    font-weight:bold;
}
ul.object-details {
	padding: 28px 40px 0px 40px;
	line-height: 130%;
}
.object-details a {
	color:#6d9998;
}
.object-details a:hover {
	color:#889e9c;
}
/* UCL gallery */
#gallery {
  	left:468px;
  	top:49px;
/*  	min-height:605px; */
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(221, 221, 221);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
/* 	-moz-box-shadow:    3px 3px 5px 6px #ccc; */
/*   -webkit-box-shadow: 3px 3px 5px 6px #ccc; */
/* Ben changed in order to inset the shadow */
/* 	border:23px solid #c8c8c0;
    box-shadow:          0 0 20px #000;*/
    padding:23px;
    box-shadow: inset 0 0 10px #000;*/
    -moz-box-shadow: inset 0 0 10px #000;*/
    -webkit-box-shadow: inset 0 0 10px #000;*/
    -o-box-shadow: inset 0 0 10px #000;*/
}
div.pointer {
	border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	width: 1px !important;
    height: 1px !important;
    background: #44b5bc !important;
    border: 2px solid #44b5bc !important;
    top:515px !important;
    margin-left:4px;
}
span.panel-overlay-customise h2.heading {
   margin-top:10px;
}



